<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fundGame.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>4EDA112D038F9A13DAF76DF1ABC93934E3ADFB4F</string>
				<key>dateExpires</key>
				<string>03/10/20</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>FCSTC262G3.com.ecoviro.fundgame</string>
				<key>com.apple.developer.team-identifier</key>
				<string>FCSTC262G3</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>FCSTC262G3.com.ecoviro.fundgame</string>
				</array>
			</dict>
			<key>name</key>
			<string>fundGame.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>86cfa5c6-68e7-4112-8101-0e3c403a7b36</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.ecoviro.fundgame</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>FCSTC262G3</string>
				<key>name</key>
				<string>Wilson Benedict Lim</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
